# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary Files
*.tmp

# Cache
.cache/

# Python cache
.pytest_cache/

# Google Colab
sample_data/

# Environment Variables
.env
